
<form [formGroup]="form" autocomplete="off" novalidate class="lesson-form">

  <fieldset>
    <legend>Lesson</legend>
    <div class="form-field">
      <label>Description:</label>
      <input name="title" formControlName="description">
      <div class="field-error-message"
           *ngIf="isErrorVisible('description','required')">field is mandatory</div>
    </div>
    <div class="form-field">
      <label>Lesson Url:</label>
      <input name="title" formControlName="url">
      <div class="field-error-message" *ngIf="isErrorVisible('url','required')">field is mandatory</div>
    </div>
    <div class="form-field">
      <label>Video Url:</label>
      <input name="title" formControlName="videoUrl">
      <div class="field-error-message" *ngIf="isErrorVisible('videoUrl','required')">field is mandatory</div>
      <div class="field-error-message" *ngIf="isErrorVisible('videoUrl','validUrl')">not a valid url</div>
    </div>
    <div class="form-field">
      <label>Tags:</label>
      <input name="title" formControlName="tags">
      <div class="field-error-message" *ngIf="isErrorVisible('tags','required')">field is mandatory</div>
    </div>
    <div class="form-field">
      <label>Long Description:</label>
      <textarea name="description" formControlName="longDescription"></textarea>
    </div>
  </fieldset>

</form>