<h2>{{ (course$ | async)?.description  }}</h2>


<div class="lessons-list-container v-h-center-block-parent">

  <div class="nav-bar">
    <button (click)="previous()">Previous Page</button>
    <button (click)="next()">Next Page</button>
  </div>


  <app-lessons-list (lesson)="navigateToLesson($event)"
          [lessons]="lessons"></app-lessons-list>

  <div class="tools-bar">
    <button routerLink="new" [queryParams]="{courseId: (course$ | async)?.$key }">
      New Lesson
    </button>
  </div>

</div>
