<table class="table lessons-list card card-strong">
  <tr *ngFor="let lesson of lessons" (click)="emitLesson(lesson)">
    <td class="lesson-title">{{lesson.description}}</td>
    <td class="duration">
      <i class="md-icon duration-icon">access_time</i>
      <span>{{lesson.duration}}</span>
    </td>
  </tr>
</table>