<h2>All lessons</h2>

<h4>Total Lessons: {{filtered.length}}</h4>

<input (keyup)="search(searchRef.value)"
       #searchRef
       type="text"
       class="search-bar"
       placeholder="Search">

<div class="lessons-list-container v-h-center-block-parent">
    <app-lessons-list [lessons]="filtered">

    </app-lessons-list>
</div>